*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --blue: #09A494;
    --text: #212121;
    --bg: #FFFFFF;
}

.container {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    margin-bottom: 120px;
}

.main-header {
    display: flex;
    padding-top: 60px;
    margin-bottom: 120px;
    gap: 40px;
    align-items: center;
}

.main-header nav {
    display: flex;
    gap: 40px;
}


body {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    color: var(--text);
    background-color: var(--bg);
}

h1 {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    letter-spacing: 0%;
    color: var(--text);
    background-color: var(--bg);
    margin: 0;
    margin-bottom: 20px;
}

h2 {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--text);
    background-color: var(--bg);
    margin: 0;
    margin-bottom: 40px;
}

h3 {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--text);
    background-color: var(--bg);
}

button {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--text);
    background-color: var(--bg);
}

a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--text);
    background-color: var(--bg);
}

.subtitle {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 38px;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--blue);
    background-color: var(--bg);
}

footer {
    color: var(--bg);
    background-color: var(--text);
}

.main-nav a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    color: var(--blue);
}

.main-nav a:hover{
    color: blue;
}

button {
    cursor: pointer;

    padding: 6px 10px 10px 10px;
    text-transform: lowercase;
    border-radius: 8px;
    border: 1px solid var(--blue);
    color: var(--blue);
    background-color: var(--bg);
}

button:hover {
    color: blue;
}

.social {
    margin-bottom: 40px;
    padding: 0;
    list-style-type: none;
    display: flex;
	gap: 40px;
	line-height: 100%;
}

.social a {
    background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
	padding: 5px 0 5px 42px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-mail {
    background-image: url("../img/icon=email.svg");
}

.social-tel {
    background-image: url("../img/icon=phone.svg");
}

.social-link {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}


.social-link li{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.social-link li a{
    width: 50px;
    height: 50px;
    outline: 1px solid var(--blue);
    border-radius: 50px;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    
}

.social-link_vk {
    background-image: url("../img/social=vk.svg");
}

.social-link_tg {
    background-image: url("../img/social=telegram.svg");
}

.social-link_github {
    background-image: url("../img/social=github.svg");
}



.social-link li a:hover {
    background-color: var(--blue);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.user-photo {
    border-radius: 50%;
    object-fit: cover;
}



.skill-list dt {
    margin-bottom: 6px;
    padding: 5px 30px 5px 38px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}


.skill-level {
    margin: 4px 0 20px;
    padding: 2px;
    font-size: 0;
    border: 1px solid var(--text);
    border-radius: 16px;
}


.skill-level div {
    height: 14px;
    background-color: var(--blue);
    border-radius: 8px;
}


.skill-list dt {
    text-transform: lowercase;
}


.skill-item_html {
    background-image: url("../img/skill=html.svg");
}


.skill-item_css {
    background-image: url("../img/skill=css.svg");
}


.skill-item_cpp {
    background-image: url("../img/skill=c++.svg");
}


.skill-item_java {
    background-image: url("../img/skill=java.svg");
}

.skill-item_eng {
    background-image: url("../img/skill=english.svg");
}

.skill-item_js {
    background-image: url("../img/skill=javascript.svg");
}

.skill-item_node {
    background-image: url("../img/skill=nodejs.svg");
}

.intro {
    width: 100%;
    display: flex;
    justify-content: space-between;
	align-items: center;
}

.wrapped-text {
    max-width: 800px;
}

p {
    margin: 0;
}

p + p {
    margin-top: 15px; 
}

#skills {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 20px;
}


.skills-div {
    display: flex;
	justify-content: space-between;
	align-items: center;
}

.sort-options {
    display: flex;
	justify-content: space-between;
	gap: 20px;
	align-items: center;
}

#about {
    margin-bottom: 120px;
}

.footer-text {
    padding-top: 50px;
    padding-bottom: 50px;
}

.skills-no-margin {
    margin: 0;
}

.nav-btn {
	display: none;
}

.left-photo {
	display: none;
}

@media screen and (max-width: 1024px) {   
	.skills-div {
		gap: 40px;
	}

	h1 {
		font-size: 50px;
	}

	h2 {
		font-size: 24px;
	}

	body {
		font-size: 16px;
	}

	.user-photo {
		width: 250px;
		height: 250px;
	}

	.subtitle {
		font-size: 28px;
	}

	section {
		margin-bottom: 80px;
	}

	.main-footer {
		margin-top: 80px;
	}

	.container {
		width: 100%;
		padding: 0 20px;
	}
}

@media screen and (max-width: 650px) {   
	.footer-text {
		padding: 0;
	}
	.social-link {
		gap: 15px;
	}
	#interests {
		gap: 30px;
	}
	h1 {
		font-size: 32px;
        margin-bottom: 10px;
	}

	h2 {
        margin-bottom: 30px;
		font-size: 20px;
	}

    .subtitle {
		font-size: 20px;
	}

	body {
		font-size: 14px;
	}

    .main-header {
		font-size: 14px;
	}

	.main-logo {
		width: 40px;
		height: 40px;
	}

	.main-header {
		padding-top: 20px;
        margin-bottom: 50px;
		gap: 20px;
        flex-direction: column;
	}

	.main-header nav {
		flex-direction: column;
        gap: 0px;
	}

	nav a {
		padding: 20px 30px;
		text-align: center;
		line-height: 100%;
	}

	.nav-btn {
		display: block;
		width: 30px;
		height: 30px;
	}

	.nav-btn-close {
		background-image: url('../img/close.svg');
	}

	.intro {
		flex-direction: column;
		gap: 30px;
	}

    .intro-div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

	.main-header-wrap {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.user-photo {
		width: 150px;
		height: 150px;
	}

	.right-photo {
		display: none;
	}

	.left-photo {
		display: block;
	}

	section {
		margin-bottom: 50px;
	}

	.main-footer {
		/* margin-top: 50px; */
	}

	#about {
		gap: 30px;
	}

	#skills {
		gap: 10px;
	}

	#skills .skills-div {
		gap: 30px;
	}

	#contacts {
		gap: 30px;
	}

	.social {
		margin-top: -10px;
        margin-bottom: 20px;
	}

	.social a {
		padding: 8px 0 8px 42px;
	}

	.main-footer {
		padding: 30px 20px;
	} 
}

@media screen and (max-width: 380px) {

	#skills .skills-div {
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
	}

	#skills .skills-div .sort-options {
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
	}

	#skills .skills-div button {
		width: 100%;
	}
}

@media screen and (max-width: 360px) {
	.social {
		flex-direction: column;
		gap: 15px;
	}

	.social a {
		justify-content: flex-start;
	}

	.socials {
		flex-wrap: wrap;
	}
}